<ion-app class="ion-padding">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
     
    </ion-buttons>
    <ion-title class="ion-text-center">
	    <h1> ImageBook</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-img width="80" height="80" src="/assets/imgs/01.png"></ion-img>

</ion-content>

<ion-footer class="ion-text-center">
    <ion-toolbar>
      <ion-title [routerLink]="['/mapa']">MAPA</ion-title>
      <ion-title [routerLink]="['/home']">HOME</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>
