<ion-app class="ion-padding">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
    </ion-buttons>
    <ion-title class="ion-text-center">
	    <h1> ImageBook</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



<ion-grid>
  <ion-row>

    <ion-col class="ion-margin">
      <div>
	      <ion-img [routerLink]="['/foto']" width="80" height="80" src="/assets/imgs/01.png"></ion-img>
      </div>
    </ion-col>

    <ion-col class="ion-margin-top">
      <div>
        <ion-img width="80" height="80" src="/assets/imgs/02.png"></ion-img>
      </div>
    </ion-col>

    <ion-col class="ion-margin-start">
      <div>
        <ion-img width="80" height="80" src="/assets/imgs/03.png"></ion-img>
      </div>
    </ion-col>

    <ion-col class="ion-margin-end">
      <div>
        <ion-img width="80" height="80" src="/assets/imgs/04.png"></ion-img>
      </div>
    </ion-col>
  </ion-row>
  
</ion-grid>

</ion-content>
<ion-footer class="ion-text-center">
    <ion-toolbar>
      <ion-title [routerLink]="['/mapa']">MAPA</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>
